:root {
  --bg-dark: #0f141e;
  --bg-light: #f9f9f9;
  --dark-color: rgba(15, 20, 30, 0.8);
  --danger-color: #ea4343;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* overflow: auto; */
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 10px 0;
  font-weight: 500;
}

/* @22 */
.heading {
  margin: 50px 0 50px 0;
}
/*  */

.primary_color {
  color: #ff014f;
 }

.top {
  margin-top: 80px;
}
/*  */

.heading h4 {
  color: #ff014f;
  letter-spacing: 2px;
  font-weight: 400;
}
.heading h1 {
  font-size: 60px;
  color: #3c3e41;
}
.text-center {
  text-align: center;
}
.grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}


.d_flex {
  display: flex;
  justify-content: space-between;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

/*  */

 .btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
} 


 .btn_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.btn_shadow:hover {
  background: #ff014f;
  color: white;
  transform: translateY(-10px);
}
.box_shodow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}
.row,
.left,
.right {
  width: 50%;
}

/*  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

.reveal {
  transform: translateY(200px);
  opacity: 0;
  transition: all 2s ease;
}

.shown {
  transform: translateY(0px);
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 4fr;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 100%;
  padding: 40px 0;
}

.active {
  color: var(--danger-color) !important;
  /* color: var(--danger-color); */
}

.scroll-top {
  position: "sticky";
  bottom: 20;
  right: 20;
  z-index: 100;
}

@media (max-width: 800px){
  .grid-1 {
    grid-template-columns: 1fr;
  }
  .left,
  .right {
    width: 100%;
  } 
}


@media (max-width: 768px) {

  body {
    text-align: justify;
  }

  .grid {
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
  }
  /* .left,
  .right {
    width: 100%;
  } */
}

/* @media screen and (max-width: 768px) {
 
  .grid {
    grid-template-columns: 1fr;
  }
} */